head
  link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,300")
  meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-title" content="Material for Meteor")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  //- link(rel="apple-touch-icon" sizes="60x60" href="/icons/icon-60.png")
  //- link(rel="apple-touch-icon" sizes="76x76" href="/icons/icon-76.png")
  //- link(rel="apple-touch-icon" sizes="120x120" href="/icons/icon-60@2x.png")
  //- link(rel="apple-touch-icon" sizes="152x152" href="/icons/icon-76@2x.png")
  //- link(rel="apple-touch-icon" sizes="180x180" href="/icons/icon-60@3x.png")
  meta(name="mobile-web-app-capable" content="yes")
  //- link(rel="icon" sizes="192x192" href="/icons/android-launcher.png")
  title
