//- Examples of the MD Component library
template(name="home")
  .home-intro
    p
      | This is the home of Material for Meteor (MFM), a
      a(href="https://www.meteor.com/" target="_blank") Meteor
      | package that implements Google's
      a(href="https://material.google.com" target="_blank") Material Design
      | specification using
      a(href="http://blazejs.org" target="_blank") Blaze
      | . Many of the components are adapted from Polymer's interpretation of
      | Material Design. In any cases of conflict, the Material Design
      | specifications are preferred over the
      a(href="https://www.polymer-project.org" target="_blank") Polymer
      | interpretation.
    p
      | Below is a catalog showing samples of each of the currently available
      | MFM components followed by code used to illustrate how the component
      | demo is generated. A complete description of the component is available
      | on the component's API page. The API page can be reached by clicking the
      | API button in the demo section, or using the API menu in the right
      | drawer by clicking on the
      +md_icon(icon="code" classes="inline-with-text")
      | icon (when undocked) in the toolbar.
    p
      | This package is open source software and is available on
      a(
        href="https://github.com/dgtlife/material-for-meteor"
        target="_blank"
      ) Github
      | .
  #md-header-panel--demo
    +md_header_panel__demo
  #md-toolbar--demo
    +md_toolbar__demo
  #md-drawer--demo
    +md_drawer__demo
  #md-dialog--demo
    +md_dialog__demo
  #md-snackbar--demo
    +md_snackbar__demo
  #md-card--demo
    +md_card__demo
  #md-tabs--demo
    +md_tabs__demo
  #md-text-input--demo
    +md_text_input__demo
  #md-icon--demo
    +md_icon__demo
  #md-button--demo
    +md_button__demo
  #md-radio--demo
    +md_radio__demo
  #md-checkbox--demo
    +md_checkbox__demo
  #md-chip--demo
    +md_chip__demo
  #md-collapse--demo
    +md_collapse__demo
  #md-item--demo
    +md_item__demo
  #md-menu--demo
    +md_menu__demo
  #md-popup-menu--demo
    +md_popup_menu__demo
  #md-dropdown-menu--demo
    +md_dropdown_menu__demo
  #md-image--demo
    +md_image__demo
  #md-tooltip--demo
    +md_tooltip__demo
  #md-spinner--demo
    +md_spinner__demo
  #md-shadow--demo
    +md_shadow__demo
