// Demo coming soon.
template(name="coming_soon__demo")
  p
    span Component in package with demo coming soon.

//- API docs coming soon.
template(name="coming_soon__api")
  .api__description
    p
      span Component in package with API docs coming soon.
