// @file Defines the styles for the Loading screen.
// @author Derek Gransaull <derek@dgtlife.com>
// @copyright DGTLife, LLC 2015
//
// Created on 10/30/2015

.spinner-box
  height 6.5rem
  margin 6rem auto
  position relative
  width 6.5rem
  .spinner--loading
    height 6.5rem
    left 0
    position absolute
    top 0
    width 6.5rem
  .loading-message
    display inline-block
    font-size 1em
    left 1rem
    position absolute
    top 2.625rem
