@require '../../../client/main'

.demo-group.group--card
  $align-items-start()
.md-card.demo
  max-width 35.5rem
.md-card__content
  padding 0 1rem
  h3
    text-align center
.md-card__actions
  $align-items-center()
  $display-flex()
  $flex-direction(row)
  $justify-content-start()
  padding 0.5rem
  > .md-button
    margin 0 0.5rem 0 0
  > .md-button:first-of-type
    margin-left 0
  > .md-button:last-of-type
    margin-right 0
